.card {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(164, 234, 255);
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
};

.button {
    background-color: blue;
    color: blue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
};

.classes {
    color: black;
    text-align: left;
};

.availability {
    color: black;
    text-align: left;
};

.name {
    text-align: center;
}